*{
font-family:tahoma;
background-color:white;
margin:1%;
box-sizing:border-box;
}

.h2 {
text-align:center;
}

.div1 {
border:1px solid black;
text-align:center;
font-weight:bold;
font-size:18px;
float:right;
}

/*For Large Devices*/
@media (min-width:992px){.col-lg-4, .col-lg-12
{ border:2px solid black; text-align:justify; font-size:16px; height:auto; background-color:gray;}
.col-lg-4{width:33.33%}
.col-lg-12{width:100%}}

/*For Medium Devices*/
@media (min-width:768px) and (max-width:991px) {.col-md-4, col-md-6 .col-md-12
{ border:2px solid black; text-align:justify; font-size:16px; height:auto; background-color:gray;}
.col-lg-4{width:33.33%}
.col-lg-12{width:100%}}

/*For Small Devices*/

@media(max-width:767px) {.col-sm-12
{ border:2px solid black; text-align:justify; font-size:16px; height:auto; background-color:gray;}
.col-lg-4{width:33.33%}
.col-lg-12{width:100%}}
